In [5]:
import mlflow
import pandas as pd

In [4]:
mlflow.set_tracking_uri("http://127.0.0.1:5000/")
mlflow.set_experiment("nyc-taxi-experiment")

<Experiment: artifact_location='mlflow-artifacts:/179841065127874722', creation_time=1737661063947, experiment_id='179841065127874722', last_update_time=1737661063947, lifecycle_stage='active', name='nyc-taxi-experiment', tags={}>

In [10]:
def prepare_the_data(url):
    df = pd.read_parquet(url)

    # Convert into minutes
    df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
    df['duration_minutes'] = df['duration'].dt.total_seconds() / 60

    # Filder df by trip time
    df = df[(df['duration_minutes'] >= 1) & (df['duration_minutes'] <= 60)]

    # Features defining
    categorical_features = ['PULocationID', 'DOLocationID']
    
    # Data Type preparation
    df[categorical_features] = df[categorical_features].astype(str)

    return df

In [11]:
df = prepare_the_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [12]:
df[:2]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration,duration_minutes
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.0,0.5,0.0,0.0,1.0,14.3,2.5,0.0,0 days 00:08:26,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.0,0.5,4.0,0.0,1.0,16.9,2.5,0.0,0 days 00:06:19,6.316667