In [136]:
from sklearn.datasets import make_regression
import pandas as pd
from sklearn.metrics import mean_absolute_error

In [145]:
X, y = make_regression(n_samples=10, n_features=3)

In [146]:
df = pd.DataFrame(X)

In [147]:
df['y_true'] = y

In [148]:
df

          0         1         2      y_true
0  0.175167 -1.019613  0.478413  -79.477652
1 -0.940707  0.833476 -2.485376   -0.996644
2  2.321249  1.785691 -0.038208  177.370586
3 -0.511120  1.748374  0.461083  172.739183
4 -0.057175  1.494986 -0.718156  117.158514
5  0.747640 -0.135221 -0.360766  -18.948600
6 -0.827364 -1.484255 -0.563146 -158.739102
7 -0.775781  0.289151  2.422369   93.604871
8 -0.430666 -0.583823 -0.143613  -60.739738
9  0.144641 -1.824073  1.090444 -136.238851

In [149]:
df['y_pred'] = df['y_true'].mean()

In [150]:
df

          0         1         2      y_true     y_pred
0  0.175167 -1.019613  0.478413  -79.477652  10.573257
1 -0.940707  0.833476 -2.485376   -0.996644  10.573257
2  2.321249  1.785691 -0.038208  177.370586  10.573257
3 -0.511120  1.748374  0.461083  172.739183  10.573257
4 -0.057175  1.494986 -0.718156  117.158514  10.573257
5  0.747640 -0.135221 -0.360766  -18.948600  10.573257
6 -0.827364 -1.484255 -0.563146 -158.739102  10.573257
7 -0.775781  0.289151  2.422369   93.604871  10.573257
8 -0.430666 -0.583823 -0.143613  -60.739738  10.573257
9  0.144641 -1.824073  1.090444 -136.238851  10.573257

In [151]:
mean_absolute_error(df['y_true'], df['y_pred'])

103.71602540867818

In [152]:
from sklearn.tree import DecisionTreeRegressor
lr = 0.1
n = 10
trees = []

for i in range(n):
    df['residual'] = df['y_true'] - df['y_pred']
    tree = DecisionTreeRegressor(max_depth=1)
    tree.fit(df[[0,1,2]], df['residual'])
    df['y_pred'] = df['y_pred'] + lr * tree.predict(df[[0,1,2]])
    trees.append(tree)
    print(mean_absolute_error(df['y_true'], df['y_pred']))

95.60386178080225
88.30291451571391
81.82721143148952
76.77604957794229
71.14202676366578
66.03157560570294
62.05885359358696
57.68515910904862
54.98017815728665
51.21774475381541

In [159]:
df

          0         1         2      y_true     y_pred    residual
0  0.175167 -1.019613  0.478413  -79.477652 -56.948146  -25.664867
1 -0.940707  0.833476 -2.485376   -0.996644  35.043901  -39.175906
2  2.321249  1.785691 -0.038208  177.370586  89.913510   94.772919
3 -0.511120  1.748374  0.461083  172.739183  89.913510   90.141516
4 -0.057175  1.494986 -0.718156  117.158514  89.913510   34.560847
5  0.747640 -0.135221 -0.360766  -18.948600 -17.573933   -4.510028
6 -0.827364 -1.484255 -0.563146 -158.739102 -56.948146 -104.926317
7 -0.775781  0.289151  2.422369   93.604871  35.043901   55.425609
8 -0.430666 -0.583823 -0.143613  -60.739738 -45.677392  -18.197707
9  0.144641 -1.824073  1.090444 -136.238851 -56.948146  -82.426066

In [166]:
test = df[[0,1,2]].copy()

In [167]:
test['y_pred'] = df['y_true'].mean()

In [168]:
test

          0         1         2     y_pred
0  0.175167 -1.019613  0.478413  10.573257
1 -0.940707  0.833476 -2.485376  10.573257
2  2.321249  1.785691 -0.038208  10.573257
3 -0.511120  1.748374  0.461083  10.573257
4 -0.057175  1.494986 -0.718156  10.573257
5  0.747640 -0.135221 -0.360766  10.573257
6 -0.827364 -1.484255 -0.563146  10.573257
7 -0.775781  0.289151  2.422369  10.573257
8 -0.430666 -0.583823 -0.143613  10.573257
9  0.144641 -1.824073  1.090444  10.573257

In [169]:
for tree in trees:
    test['y_pred'] = test['y_pred'] + lr * tree.predict(df[[0,1,2]])

In [170]:
test

          0         1         2     y_pred
0  0.175167 -1.019613  0.478413 -56.948146
1 -0.940707  0.833476 -2.485376  35.043901
2  2.321249  1.785691 -0.038208  89.913510
3 -0.511120  1.748374  0.461083  89.913510
4 -0.057175  1.494986 -0.718156  89.913510
5  0.747640 -0.135221 -0.360766 -17.573933
6 -0.827364 -1.484255 -0.563146 -56.948146
7 -0.775781  0.289151  2.422369  35.043901
8 -0.430666 -0.583823 -0.143613 -45.677392
9  0.144641 -1.824073  1.090444 -56.948146

In [171]:
df

          0         1         2      y_true     y_pred    residual
0  0.175167 -1.019613  0.478413  -79.477652 -56.948146  -25.664867
1 -0.940707  0.833476 -2.485376   -0.996644  35.043901  -39.175906
2  2.321249  1.785691 -0.038208  177.370586  89.913510   94.772919
3 -0.511120  1.748374  0.461083  172.739183  89.913510   90.141516
4 -0.057175  1.494986 -0.718156  117.158514  89.913510   34.560847
5  0.747640 -0.135221 -0.360766  -18.948600 -17.573933   -4.510028
6 -0.827364 -1.484255 -0.563146 -158.739102 -56.948146 -104.926317
7 -0.775781  0.289151  2.422369   93.604871  35.043901   55.425609
8 -0.430666 -0.583823 -0.143613  -60.739738 -45.677392  -18.197707
9  0.144641 -1.824073  1.090444 -136.238851 -56.948146  -82.426066